<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" href="../static/leonteq_favicon.ico">
    <title>Leonteq Index Creator</title>
    <meta charset="utf-8" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.0/nv.d3.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.0/nv.d3.min.js"></script>
        <title>Leonteq - Msc 203 Index Generator</title>
    <script src="../static/tabcontent.js" type="text/javascript"></script>
    <link href="../static/tabcontent.css" rel="stylesheet" type="text/css" />
    <div id="logos">
        <a title="Leonteq" href="#">
            <img
                 src="../static/leonteq_logo.png"
                 width="239"
                 height="72"
                 alt="Leonteq"
                 style="padding-bottom: 25px;padding-top: 25px;padding-left: 15px"
            />

        </a>
        <div class="head-languages" ><span>  HOTLINE: +41 58 800 1111 </span></div>
       
    </div>

</head>
<body style="background:#51555E; padding-left: 100px;padding-right: 100px ;font-family:Arial;">
<div style="background-color: #f3f3f3; padding: 10px;"><center>
        <h1 style=";font-family:Arial;">404 Page not found.</h1>
        <a href="/">
        <p >Go back to main page</p>
        </a>
    </center>
    </div>
  

    </body>
<footer>
 

</footer>

</html>
