<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" href="../static/leonteq_favicon.ico">
    <title>Leonteq Index Creator</title>
</head>
<body style="background:#51555E; padding-left: 100px;padding-right: 100px ;font-family:Arial;">
<h1>WARNING this is a proof of concept and not a fully working application</h1>
<p>Do you wish to continue?</p>
<input type="submit" value="Yes" 
    onclick="window.location='/main';" /> 
<input type="button" value="No" onclick="self.close()">
    </body>
<footer>
    <div style="border-top: 5px solid #f9a900;padding-bottom: 0px"></div>

</footer>

</html>
