<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" href="../static/leonteq_favicon.ico">
    <title>Leonteq Index Creator</title>
    <meta charset="utf-8" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.0/nv.d3.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.0/nv.d3.min.js"></script>
        <title>Leonteq - Msc 203 Index Generator</title>
    <script src="../static/tabcontent.js" type="text/javascript"></script>
    <link href="../static/tabcontent.css" rel="stylesheet" type="text/css" />
    <div id="logos">
        <a title="Leonteq" href="#">
            <img
                 src="../static/leonteq_logo.png"
                 width="239"
                 height="72"
                 alt="Leonteq"
                 style="padding-bottom: 25px;padding-top: 25px;padding-left: 15px"
            />

        </a>
        <div class="head-languages" ><span>  HOTLINE: +41 58 800 1111 </span></div>
       
    </div>

</head>
<body style="background:#51555E; padding-left: 100px;padding-right: 100px ;font-family:Arial;">
                           
        
    <div id="linechart"><svg style="height:450px;"></svg></div>


    <script>



            data_linechart=[{"values": {{ sp_data|safe }}, "key": "sine", "yAxis": "1"}, {"values": [{"y": 9, "x": 0}, {"y": 8, "x": 1}, {"y": 11, "x": 2}, {"y": 8, "x": 3}, {"y": 3, "x": 4}, {"y": 7, "x": 5}, {"y": 10, "x": 6}, {"y": 8, "x": 7}, {"y": 6, "x": 8}, {"y": 6, "x": 9}, {"y": 9, "x": 10}, {"y": 6, "x": 11}, {"y": 5, "x": 12}, {"y": 4, "x": 13}, {"y": 3, "x": 14}, {"y": 10, "x": 15}, {"y": 0, "x": 16}, {"y": 6, "x": 17}, {"y": 3, "x": 18}, {"y": 1, "x": 19}, {"y": 0, "x": 20}, {"y": 0, "x": 21}, {"y": 0, "x": 22}, {"y": 1, "x": 23}], "key": "cose", "yAxis": "1"}];


        nv.addGraph(function() {
        var chart = nv.models.lineChart();

        chart.margin({top: 30, right: 60, bottom: 20, left: 60});

        var datum = data_linechart;



                chart.xAxis
                .tickFormat(function(d) { return get_am_pm(parseInt(d)); });
            chart.yAxis
                .tickFormat(d3.format(',.02f'));


        function get_am_pm(d){
            if (d > 12) {
                d = d - 12; return (String(d) + 'PM');
            }
            else {
                return (String(d) + 'AM');
            }
        };

          chart.showLegend(true);


    

        



            d3.select('#linechart svg')
            .datum(datum)
            .transition().duration(500)
            .attr('height', 450)
            .call(chart);


        });



    </script>

    </body>


   
<footer>
 

</footer>

</html>
